<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.westga.tamikowilliamsattendancerepairapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIActivity.ChooseActivity"
            android:label="@string/title_activity_choose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CourseActvity"
            android:label="@string/title_activity_course_actvity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CourseEditActivity"
            android:label="@string/title_activity_course_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CoursePortalActivity"
            android:label="@string/title_activity_course_portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CourseStatsActivity"
            android:label="@string/title_activity_course_stats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.CourseStudentListActivity"
            android:label="@string/title_activity_course_student_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.StudentSearchActivity"
            android:label="@string/title_activity_student_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.StudentStatsActivity"
            android:label="@string/title_activity_student_stats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UIActivity.UserPortalActivity"
            android:label="@string/title_activity_user_portal"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
